# Lists

In [1]:
lst=[[11,12,13],"sujatha",5.4,100]

In [2]:
lst

[[11, 12, 13], 'sujatha', 5.4, 100]

In [3]:
lst.append("school")

In [4]:
lst

[[11, 12, 13], 'sujatha', 5.4, 100, 'school']

In [6]:
lst.reverse()

In [7]:
lst

['school', 100, 5.4, 'sujatha', [11, 12, 13]]

In [11]:
stl=[1,3.5,"computer",100]

In [12]:
lst.extend(stl)

In [13]:
lst

['school', 100, 5.4, 'sujatha', [11, 12, 13], 1, 3.5, 'computer', 100]

In [14]:
lst.count(100)

2

In [16]:
lst.copy()

['school', 100, 5.4, 'sujatha', [11, 12, 13], 1, 3.5, 'computer', 100]

In [18]:
lst.index(100)

1

In [20]:
lst.insert(2,50)

In [21]:
lst

['school', 100, 50, 5.4, 'sujatha', [11, 12, 13], 1, 3.5, 'computer', 100]

In [22]:
lst.pop()

100

In [23]:
lst

['school', 100, 50, 5.4, 'sujatha', [11, 12, 13], 1, 3.5, 'computer']

In [25]:
lst.remove(3.5)

In [26]:
lst

['school', 100, 50, 5.4, 'sujatha', [11, 12, 13], 1, 'computer']

In [28]:
stl.clear()

In [29]:
stl

[]

In [30]:
stl=[1,5,8,9,2,4,2]

In [31]:
stl.sort()

In [32]:
stl

[1, 2, 2, 4, 5, 8, 9]

# Dictionaries

In [33]:
emp={"name":"John","position":"manager","location":"United States","ph no":"987654321"}

In [34]:
emp

{'name': 'John',
 'position': 'manager',
 'location': 'United States',
 'ph no': '987654321'}

In [35]:
emp.items()

dict_items([('name', 'John'), ('position', 'manager'), ('location', 'United States'), ('ph no', '987654321')])

In [36]:
emp.keys()

dict_keys(['name', 'position', 'location', 'ph no'])

In [40]:
emp.fromkeys("name")

{'n': None, 'a': None, 'm': None, 'e': None}

In [41]:
emp.copy()

{'name': 'John',
 'position': 'manager',
 'location': 'United States',
 'ph no': '987654321'}

In [43]:
emp.get("name")

'John'

In [45]:
emp.pop("location")

'United States'

In [46]:
emp

{'name': 'John', 'position': 'manager', 'ph no': '987654321'}

In [48]:
emp.popitem()

('ph no', '987654321')

In [49]:
emp.update()

In [50]:
emp

{'name': 'John', 'position': 'manager'}

In [51]:
emp.values()

dict_values(['John', 'manager'])

In [53]:
emp.setdefault("name")

'John'

In [54]:
emp.clear()

In [55]:
emp

{}

# Set

In [58]:
st={1,2,3,4,5,"name"}

In [59]:
st

{1, 2, 3, 4, 5, 'name'}

In [60]:
st1={1,2,3}

In [61]:
st1

{1, 2, 3}

In [64]:
st.difference(st1)

{4, 5, 'name'}

In [65]:
st1.add("school")

In [66]:
st1

{1, 2, 3, 'school'}

In [69]:
st.copy()

{1, 2, 3, 4, 5, 'name'}

In [70]:
st.discard(5)

In [71]:
st

{1, 2, 3, 4, 'name'}

In [72]:
st.intersection(st1)

{1, 2, 3}

In [73]:
st.isdisjoint(st1)

False

In [74]:
st.issubset(st1)

False

In [75]:
st1.issubset(st)

False

In [79]:
st1.remove("school")

In [80]:
st1

{1, 2, 3}

In [81]:
st.issuperset(st1)

True

In [82]:
st.union(st1)

{1, 2, 3, 4, 'name'}

In [83]:
st.symmetric_difference(st1)

{4, 'name'}

In [84]:
st1.difference_update(st)

In [85]:
st1

set()

In [86]:
st.intersection_update(st1)

In [87]:
st

set()

In [88]:
st1

set()

In [89]:
st()

TypeError: 'set' object is not callable

In [90]:
st

set()

In [91]:
st={1,2,3}

In [92]:
st1={4,3,5}

In [93]:
st.isdisjoint(st1)

False

In [94]:
st.clear()

In [95]:
st

set()

# Tuple

In [98]:
abc=("name","-","John")

In [99]:
abc

('name', '-', 'John')

In [100]:
abc.count("name")

1

In [101]:
abc.index("John")

2

# String

In [115]:
str="John Wick"

In [103]:
str

'John Wick'

In [106]:
str.capitalize()

'John wick'

In [107]:
str.casefold()

'john wick'

In [109]:
str.count("j")

0

In [111]:
str1="johnny"

In [112]:
str1

'johnny'

In [116]:
str.join(str)

'JJohn WickoJohn WickhJohn WicknJohn Wick John WickWJohn WickiJohn WickcJohn Wickk'

In [117]:
str

'John Wick'

In [120]:
str.center(1)

'John Wick'

In [121]:
str.encode()

b'John Wick'

In [123]:
str.endswith("k")

True

In [126]:
str.expandtabs()

'John Wick'

In [127]:
str.find("h")

2

In [129]:
str.index("n")

3

In [130]:
str.isalnum()

False

In [131]:
str.isalpha()

False

In [132]:
str.isascii()

True

In [133]:
str.isdecimal()

False

In [134]:
str.isdigit()

False

In [135]:
str.isidentifier()

False

In [136]:
str.islower()

False

In [137]:
str.isnumeric()

False

In [138]:
str.isprintable()

True

In [139]:
str.isspace()

False

In [140]:
str.istitle()

True

In [141]:
str.isupper()

False

In [144]:
str.ljust(str)

TypeError: 'str' object cannot be interpreted as an integer

In [145]:
str.lower()

'john wick'

In [146]:
str.lstrip()

'John Wick'

In [149]:
str.maketrans(emp)

TypeError: if you give only one argument to maketrans it must be a dict

In [150]:
str.partition(str)

('', 'John Wick', '')

In [152]:
str.replace(" ","ny")

'JohnnyWick'

In [153]:
str.rfind("n")

3

In [156]:
str.rindex(str1)

ValueError: substring not found

In [159]:
str.rpartition(str)

('', 'John Wick', '')

In [160]:
str.rsplit()

['John', 'Wick']

In [161]:
str.rstrip()

'John Wick'

In [162]:
str.split()

['John', 'Wick']

In [163]:
str.swapcase()

'jOHN wICK'

In [164]:
str.splitlines()

['John Wick']

In [165]:
str.startswith("J")

True

In [166]:
str.title()

'John Wick'

In [168]:
str.translate(str1)

'John Wick'

In [169]:
str.upper()

'JOHN WICK'

In [171]:
str.zfill(str1)

TypeError: 'str' object cannot be interpreted as an integer

In [173]:
str.format_map(str1)

'John Wick'

In [174]:
str.format()

'John Wick'